<div class="contextual">
	<%= link_to(l(:label_holiday_new),new_holiday_path(),:class => 'icon icon-add' ) + ' |'%>
	<!-- <%= link_to(l(:label_holiday_my), holidays_my_path) + ' |'  %> -->
	<%= link_to(l(:label_all_holiday), holidays_path) %>
</div>